/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* sitautedbit start */

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

h1 { font-size: 2.25em;  /* 16x2.25=36 */ }
h2 { font-size: 1.5em;   /* 16x1.5=24 */ }
h3 { font-size: 1.125em; /* 16x1.125=18 */ }
h4 { font-size: 0.875em; font-style: italic; /* 16x0.875=14 */ }

h1,
h2,
h3,
h4 {
  font-family: 'Bree Serif', serif;
  margin-bottom: 0.5em;
}

p,
ol,
ul,
blockquote {
  margin-bottom: 1em;
  line-height: 1.25em;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #720040;
}

a:hover {
  text-decoration: underline;
}

.constrained-layout {
  max-width: 45em;
  width: 96%;
}

#content {
  background-color: white;
  margin: 0 auto;
}

#main {
  margin: auto;
}

#header {
  background-color: white;
  height: 3em;
  padding: 1em 0;
  margin: auto;
  margin-bottom: 1em;
  overflow: auto;
}

  #header #logo {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    width: 90%;
    text-indent: 1em;
    background-image: url(images/logo-33.png);
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-size: auto 1em;
  }

.post {
  margin-top: .5em;
  margin-bottom: 2em;
}

  .post li {
    list-style-position: inside;
    padding-left: 1.5em;
    text-indent: -1.5em;
  }

  .post ul > li {
    list-style-type: square;
  }

  .post ol > li {
    list-style-type: decimal;
  }

  .post .alignleft {
    float: left;
    margin-right: 1em;
  }

  .post .alignright {
    float: right;
    margin-left: 1em;
  }

  .post .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  .post .wp-caption-text {
    font-size: .75em;
  }

  .post .post-meta {
    display: inline;
  }

  .post .tags {
    display: inline;
  }

    .post .tags:before {
      content: '{';
    }

    .post .tags:after {
      content: '}';
    }

  .post .tags li {
    display: inline-block;
    padding-left: 0;
    text-indent: 0;
  }

  .post .tags li:last-child:after {
    content: '';
    margin: 0px;
  }

  .post .tags li:after {
    content: ',';
    margin: auto;
    margin-right: .35em;
  }

#footer {
  background-color: #efefef;
  border-top: 1px solid #bfbfbf;
  padding-top: .5em;
  width: 100%;
}

  .footer-wrapper {
    margin: auto;
    overflow: auto;
  }

  #footer .menu-footer-container {
    float: left;
    width: 20%;
  }

  #footer #footer-bio-wrapper {
    float: left;
    width: 80%;
  }

    #footer #footer-bio {
      float: left;
      width: 60%;
    }

    #footer #footer-portrait {
      float: right;
      width: 40%;
    }

  #footer .menu {
    overflow: auto;
  }

  #footer .menu li {
    margin: auto;
    margin-bottom: 1.25em;
  }

    #footer .menu a {
      width: 100%;
    }

  #footer .copyright {
    color: #afafaf;
    clear: both;
    text-align: center;
    width: 100%;
  }

/* Media Queries */
@media screen and (max-width: 1024px) {
} /* media query: 1024 */

@media screen and (max-width: 768px) {
    #footer #footer-bio {
      width: 70%;
    }

    #footer #footer-portrait {
      width: 30%;
    }
} /* media query: 768 */

@media screen and (max-width: 640px) {
  #footer .menu-footer-container,
  #footer #footer-bio-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #content {
    width: 100%;
  }

  #header {
    border-bottom: 1px solid #afafaf;
    background-color: #dfdfdf;
  }

    #header #logo {
      font-size: 2.5em;
    }

  .post-content a, .post-footer a {
    text-decoration: underline;
  }

  .post-content a:hover, .post-footer a:hover {
    text-decoration: none;
  }
} /* media query: 480 */

@media screen and (max-width: 320px) {
    #footer #footer-bio {
      width: 100%;
    }

    #footer #footer-portrait {
      width: 0;
      height: 0;
    }
} /* media query: 320 */


/* 1200px and up */
@media screen and (min-width: 1200px) {
} /* media query: 1200*/
